.cell
{
    display: inline-block;
    padding: 5px;
    border: 1px solid #acc5db;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #d8e8fa;
    height: 22px;
}

.header
{
    background-color: #afd0f7;
}

.input
{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.w20
{
    width: 20px;
}

.w80
{
    width: 80px;
}

.w160
{
    width: 160px;
}

.w240
{
    width: 240px;
}